<div class="container mt-3">
  <h1>Missing Pets</h1>
  <div class="cards">
    <% @pets.each do |pet| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://loremflickr.com/320/240/<%= pet.species%>?lock=<%= pet.id %>)">
        <%= pet.name %>
      </div>
    <% end %>
  </div>
</div>
